:root {
  --primary-color: rgb(13, 2, 170);
  --secondary-color: rgb(4, 1, 42);
  --black-color:rgba(0, 0, 0, 0.916);
  --white-color: rgb(255, 255, 255);
  --circle-and-x-color:rgba(250, 250, 250, 0.822);
  --circle-and-x-hover-color:rgba(6, 3, 45, 0.548);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg,
  var(--primary-color) 0%,
  var(--secondary-color) 100%);
}


/*----------Tela de inicio----------*/

/* Mensagem de início */
.start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.69);
  z-index: 9999;
}

.start-message-txt {
  color: var(--white-color);
  font-size: 4rem;
  text-align: center;
  position: relative;
}

/*Botão de iniciar*/
.start-message-button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: var(--white-color);
  box-shadow: 0 0 0 2px var(--primary-color);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;

}

.start-text:hover{
  color: var(--blue-color) !important;
}

.start-message-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--white-color);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  visibility: visible;
}

.start-message-button .start-text {
  position: relative;
  z-index: 99;
}

.start-message-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: var(--primary-color);
  border-radius: 12px;
  z-index: 999;
}

.start-message-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 9px ;
}

.start-message-button:hover .circle {
  width: 250px;
  height: 250px;
  opacity: 1;
}

.show-start-message{
  display: flex;  
}

/*----------Placar----------*/

.scoreboard{
  display: flex;
  position: absolute;
  margin-top: 5rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  font-size: 3rem;
  color: var(--white-color);
  width: min(95%, 200px);
  max-width: 100%;
  width: 100%;
}

.scoreboard p{
  padding: 2rem;
}


/*----------Tabuleiro----------*/
.board{
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3,auto);

}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.cell.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.cell.circle):hover::before {
  background-color: var(--circle-and-x-hover-color) !important;
}

/*Celulas*/
.cell{
  width: 100px;
  height: 100px;
  border: 2px solid var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.x, 
.cell.circle{
  cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
  border-right: none;
}

/*X*/
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.cell.circle):hover::before {
  content: "";
  height: calc(100px * 0.15);
  width: calc(100px * 0.8);
  background-color:  var(--circle-and-x-color); 
  position: absolute;
}

.cell.x::before,
.board.x .cell:hover::before{
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after{
  transform: rotate(-45deg);
}

/*Circle*/
.cell.circle::before,
.cell.circle::after,
.board.cell.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.cell.circle):hover::before{
  content: "";
  height: calc(100px * 0.8);
  width: calc(100px * 0.8);
  background-color: var(--circle-and-x-color);
  position: absolute;
  border-radius: 50%;
}

/*----------Tela de reinicio----------*/

/*Mensagem de vitória*/
.winning-message{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
  flex-direction: column;
}

.winning-message-txt{
  color: var(--white-color);
  font-size: 5rem;
}

/*Botão de reiniciar*/
.winning-message-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  margin-top: 5rem;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: var(--white-color);
  box-shadow: 0 0 0 2px var(--primary-color);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.winning-message-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--white-color);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.winning-message-button .text {
  position: relative;
  z-index: 1;
}
/**/
.winning-message-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: var(--primary-color);
  border-radius: 12px;
}

.winning-message-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 9px ;
}

.winning-message-button:hover .circle {
  width: 250px;
  height: 250px;
  opacity: 1;
}

.show-winning-message{
  display: flex;
}
